[submodule "maplib"]
	path = maplib
	url = https://github.com/nextgis/android_maplib.git
[submodule "maplibui"]
	path = maplibui
	url = https://github.com/nextgis/android_maplibui.git
[submodule "easypicker"]
	path = easypicker
	url = git@github.com:nextgis/easypicker.git
